@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-bottom {
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    margin-bottom: 72.46px;
    fill: #fff;
    box-shadow: 0px 16px 15px 0px rgba(63, 47, 179, 0.12) inset;
    flex-shrink: 0;
  }
  .hero-bottom_md {
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    margin-bottom: 72.46px;
    fill: #fff;
    box-shadow: 0px 16px 15px 0px rgba(63, 47, 179, 0.12) inset;
    flex-shrink: 0;
  }
  .bg-custom-gradient {
    background: var(
      --gradients-background-radial-03,
      radial-gradient(
        137.05% 100% at 50% -0%,
        #fff9c7 5.59%,
        #ffe4f8 51.56%,
        #fff 100%
      )
    );
  }
  .features-text-color {
    background: var(
      --gradients-solid-02,
      linear-gradient(180deg, #755bdf 0%, #2c1fa3 100%)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .heading-text-color {
    background: var(
      --gradients-solid-03,
      linear-gradient(180deg, #f24f9d 0%, #5f4aff 100%)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .chat-bg {
    background: linear-gradient(47deg, #7f0b9e 2.23%, #fd429c 100%);
  }

  .start-chat-bg{
    background: var(--modal-background, linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(137deg, rgba(255, 255, 255, 0.51) 0%, rgba(255, 255, 255, 0.00) 100%));
    box-shadow: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(6px);
  }

  .start-chat-border{
    background: var(--alpha-white-20, rgba(255, 255, 255, 0.20));;
  }

  .input-bg{
    background: var(--alpha-black-200, rgba(18, 18, 18, 0.20));
  }
}

.input-placeholder::placeholder {
  @apply gap-[10px] lg:text-sm text-xs font-[400] leading-5 tracking-[-0.14px] w-[263px] h-[16px] lg:w-[303px] lg:h-[20px] self-stretch font-roboto;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.chat-box {
  height: 90%
}

@media(min-width: 600px) {
  .chat-box {
    height: 95%
  }
}