/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .hero-bottom {
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
    margin-bottom: 72.46px;
    fill: #fff;
    box-shadow: 0px 16px 15px 0px rgba(63, 47, 179, 0.12) inset;
    flex-shrink: 0;
  }
  .hero-bottom_md {
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    margin-bottom: 72.46px;
    fill: #fff;
    box-shadow: 0px 16px 15px 0px rgba(63, 47, 179, 0.12) inset;
    flex-shrink: 0;
  }
  .bg-custom-gradient {
    background: linear-gradient(47deg, #7F0B9E 2.23%, #FD429C 100%)
  }
}
